.fadein finished {
	opacity: 1
}
.fadein { /* thanks to https://stackoverflow.com/a/11681331 */
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fadeout finished {
	opacity: 0;
}
.fadeout {
	-webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 2s; /* Firefox < 16 */
    -ms-animation: fadeout 2s; /* Internet Explorer */
    -o-animation: fadeout 2s; /* Opera < 12.1 */
    animation: fadeout 2s;
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
body {
	background-color: white;
	font-family: sans-serif;
	}
	#shotbox {
	height: 60em;
	width:100%;
	overflow: scroll;
	margin: 0;
}
.part1 {
margin-left: 1em;
}
.progressbar {
width:0%;
height:inherit;
}
.shot {
width:100%;
height:4em;
background-color:rgba(0, 0, 0, 0);
font-size: 3em;
font-family: sans-serif;
border: blac; solid 0.2vw;
border-right-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
}
.shotdesc {
margin: 0;
height: 100%;
transform: translateY(-100%);
font-size: 1.2em;
}
#shotbox {
	width:100%;
	overflow: scroll;
}